body {
    margin: 0;
    padding-top: 25px;
    background-color: #eff1f4;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

.lista {
  display: block;
}

.boton {
  margin-top: 10px;
  margin-bottom: 1px;
}

label{
  margin-bottom: 1px;
  margin-top: 15px;
}
